name: Deploy img-recog Frontend to S3

on:
  push:
    branches:
      - main  # Or your default branch
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm install  # Or yarn install
        working-directory: ./  # Correct path

      - name: Build frontend
        run: npm run build  # Or your build command
        working-directory: ./ # Correct path

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1

      - name: Deploy to S3
        run: aws s3 sync ./dist s3://img-recog-frontend-bucket --delete # Correct path
